.addPlantPage {
    text-align: center;
}
.addPlantPage form{
    display: inline-block;
    text-align: left;
    margin: 160px 0 40px 0;
  }
.addPlantPage input, .addPlantPage textarea , .addPlantPage select  {
    width: 100%;
    border: 1px solid grey;
    padding: 6px;
    margin-bottom: 5px;
}
.addPlantPage button{
    border:none;
    padding: 8px;
    width: 100%;
}
#AddPlantForm__water, #AddPlantForm__fertilize, #AddPlantForm__repot {
    display: inline-block;
    width: auto;
}
.addPlantPage textarea{
    min-height: 75px;
}


@media only screen and (min-width: 600px) {
    .addPlantPage form{
        
        margin: 80px 0 40px 0;
      }
  }