.Plant__details{
  padding: 20px;
}
.Plant__details img{
  max-height: 300px;
  max-width: 300px;
}
.Plant__details a{
  float:right;
}
.Plant__details section ul li{
  list-style: none;
  margin: 20px;
}
.Plant__details section ul li img{
  max-width: 100px;
  max-height: 100px;
}
.LogDeleteBtn, .PlantDeleteBtn{
  float:right;
  margin: 0 10px;
}